#Raspberry pi4 nextcloud
https://your_domain:7777 {
    tls /ssl/fullchain.pem /ssl/privkey.pem {                            
        alpn http/1.1                                                    
    } 
    proxy / https://your_IP:7443 {
        insecure_skip_verify
        transparent
        header_downstream Strict-Transport-Security "max-age=15768000; includeSubdomains;"
    }
    log stdout
    errors stderr
     # client support (e.g. os x calendar / contacts)
    redir /.well-known/carddav /remote.php/carddav 301
    redir /.well-known/caldav /remote.php/caldav 301
}
